.footer-container {
  background-color: #f9f9f9;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin: 20px;
}

.logo-section {
  text-align: left;
}

.footer-logo {
  width: 100px;
  margin-bottom: 12px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

footer p {
  color: rgba(182, 182, 182, 1);
  font-size: 14px;
  margin: 5px 0;
}

.user-links ul {
  list-style: none;
  padding: 0;
}

.user-links ul li {
  margin-bottom: 5px;
}

.user-links ul li a {
  color: rgba(182, 182, 182, 1);
  text-decoration: none;
  font-size: 14px;
}

.user-links ul li a:hover {
  text-decoration: underline;
}

footer #subscription-form-2 {
  display: flex;
  align-items: center;
  padding: 4px;
  background-color: white;
  border-radius: 10px;
}

footer #email-2 {
  border: none;
  padding: 4px;
  flex: 1;
}
footer #email-2:focus {
  outline: none;
}

footer #subscribe-btn-2 {
  min-width: 35px;
  min-height: 35px;
  border-radius: 100%;
  background-color: rgba(244, 142, 40, 1);
  color: white;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #subscribe-btn-2 img {
  min-width: 10px;
  max-height: 15px;
}

footer #subscribe-btn-2:hover {
  background-color: rgb(219, 111, 3);
}

#message-2 {
  margin-top: 10px;
  color: green;
  font-size: 14px;
}

@media (max-width: 767px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin: 10px 0;
    min-width: unset;
    width: 100%;
    text-align: center;
  }

  .logo-section {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .social-icons a {
    margin-right: 5px;
  }
}
