/* navbar styles */
nav {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  backdrop-filter: blur(50px);
  z-index: 10;
}
nav .logo {
  max-width: 100px;
  object-fit: contain;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  color: #000000;
  font-weight: 500;
  font-style: 18px;
  text-decoration: none;
}
.nav-end-container {
  display: flex;
  align-items: center;
  gap: 20px;
  background: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 10px;
  border-radius: 10px;
}
.nav-end-container img {
  width: 25px;
}
.nav-end-container input {
  outline: none;
  border: none;
}
.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  border-right: 1px solid gray;
}

nav .cart-icon {
  position: relative;
}
nav .cart-count {
  position: absolute;
  background: rgb(255, 128, 0);
  box-shadow: 0px 0px 13px 5px rgba(255, 128, 0, 0.35);
  color: white;
  border-radius: 100%;
  padding: 2px;
  width: 23px;
  height: 23px;
  top: -7px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.cart-btn {
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 767px) {
  nav {
    padding: 8px 12px;
  }
  .nav-end-container input {
    display: none;
  }
  .search-container {
    border-right: none;
  }
}
@media only screen and (max-width: 374px) {
  nav ul {
    gap: 10px;
  }
}
.dark-theme {
  background-color: black;
  color: white;
}

.dark-theme a {
  color: white;
}
